{% render 'partials/head.liquid' %}


<main>
  <section class="about">
    <div class="main">
      <img src="/assets/about.png" alt="Illustration representing Fatima el Hilali" />
      <article class="about-text">
        <h1>About me</h1>
        <h5>web developer
          <span>& Designer</span>
        </h5>

        <div class="about-box">
          <p>
            Hi, I'm a Frontend Design & Development student at the Amsterdam University of Applied Sciences (HvA). I'm passionate about turning ideas into beautiful, interactive web experiences using HTML, CSS, JavaScript, and GSAP.
          </p>

          <p>
            What I enjoy most is bringing websites to life with animation. Motion adds emotion, and that's what makes the web exciting to me. GSAP is my favorite tool so far — it's where creativity meets code.
          </p>

          <p>
            I'm a creative soul who finds inspiration everywhere — in design, in daily life, in books, and while traveling. I'm curious by nature and always eager to explore and learn new things.
          </p>

          <p>
            As a beginner, I believe growth comes from trying, failing, creating, and learning — one project at a time.
          </p>

          <span class="author">— Fatima el Hilali</span>
        </div>

        <div class="buttons">
          <button type="button">Let's Talk</button>
          <button class="cv">My CV</button>
        </div>
      </article>
    </div>
  </section>
</main>