<style>
  body {
    background-color: #0e0d0d;
    color: #ffff;
    font-size: 1.5rem;
  }

  a {
    color: rgb(239, 90, 175);
    text-decoration: none;
  }

  li {
    margin-bottom: 0.5rem;
  }
</style>

<section>
  <article>
    <ul>
      {% for file in files %}
        <li>
          <a href="/journal/{{ file | slice:0, -3 }}">{{ file | slice: 0, -3 }}</a>
        </li>
      {% endfor %}
    </ul>
  </article>
</section>

<div hidden>{{ files | json }}</div>