h1{
    text-align: center;
    line-height: 1.4;
    background: -webkit-linear-gradient(#42baed, #00102c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }








    
